@font-face {
    font-family: "Gotham";
    src: url("./Gotham-Font/GothamMedium.ttf");
}

@font-face {
    font-family: "Gotham Book";
    src: url("./Gotham-Font/GothamBook.ttf");
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
  }

/* NAVBAR */

nav {
    position: fixed;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: 100vw;
    
    font-family: Gotham;
    text-transform: uppercase;
    font-size: 14px;

}

.logo img {
    width: 80px;
}

.menu ul{
    display: flex;
    list-style: none;
}

.menu li{
    padding: 0 10px;
}


.menu li a{
    text-decoration: none;
    color: black;
}


.assideMenu ul{
    display: flex;
    list-style: none;
    margin-right: 40px;
}

.assideMenu li{
    padding: 0 10px;
}

.assideMenu li a{
    text-decoration: none;
    color: black;
}

.btn-gp {
    display: flex;
    justify-content: center;
    padding-top: 52vh;
}

.btn-gp button {
    height: 40px;
    width: 250px;
    margin: 20px;

    border-radius: 20px;
    border: none;

    font-family: Gotham;
}

.btn-gp button:first-child {
    
    background-color: rgba(46, 52, 61, 1);
    color: #fff;
}

.btn-gp button:last-child {
    
    background-color: rgba(190, 191, 193, 0.79);
    color: #333;
}

.arrow {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.arrow img{
    width: 40px;
}

.arrow img:hover{
    cursor: pointer;
}


/* SECTION 1 */

.section-1 {
    background-image: url("images/banner1.jpg");
    height: 102vh;
}

.section-1 h2 {
    margin-top: 0px;
    padding-top: 200px;
    font-family: Gotham ;
    font-weight: 500;
    text-align: center;
    font-size: 34px;
    color: #393c41;

}

.section-1 p{
    margin-top: -10px;
    font-family: Gotham Book;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #5c5e62;

}

/* SECTION 2 */

.section-2 {
    background-image: url("images/banner2.jpg");
    height: 110vh;
}

.section-2 h2 {
    margin-top: 0px;
    padding-top: 200px;
    font-family: Gotham ;
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    color: #393c41;

}

.section-2 p{
    margin-top: -20px;
    font-family: Gotham Book;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #5c5e62;

}

.section-2 .btn-gp {
    display: flex;
    justify-content: center;
    padding-top: 60vh;
}

/* SECTION 3 */

.section-3 {
    background-image: url("images/banner3.png");
    height: 110vh;
}

.section-3 h2 {
    margin-top: 0px;
    padding-top: 200px;
    font-family: Gotham ;
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    color: #393c41;

}

.section-3 p{
    margin-top: -20px;
    font-family: Gotham Book;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #5c5e62;

}

.section-3 .btn-gp {
    display: flex;
    justify-content: center;
    padding-top: 60vh;
}


/* SECTION 4 */

.section-4 {
    background-image: url("images/banner4.png");
    height: 110vh;
}

.section-4 h2 {
    margin-top: 0px;
    padding-top: 200px;
    font-family: Gotham ;
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    color: #393c41;

}

.section-4 p{
    margin-top: -20px;
    font-family: Gotham Book;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #5c5e62;
    
}

.section-4 .btn-gp {
    display: flex;
    justify-content: center;
    padding-top: 60vh;
}

/* SECTION 5 */

.section-5 {
    background-image: url("images/banner5.png");
    height: 110vh;
}

.section-5 h2 {
    margin-top: 0px;
    padding-top: 200px;
    font-family: Gotham ;
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    color: #393c41;

}

.section-5 p{
    margin-top: -20px;
    font-family: Gotham Book;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #5c5e62;

}

.section-5 .btn-gp {
    display: flex;
    justify-content: center;
    padding-top: 60vh;
}

/* SECTION 6 */

.section-6 {
    background-image: url("images/banner6.png");
    height: 110vh;
}

.section-6 h2 {
    margin-top: 0px;
    padding-top: 200px;
    font-family: Gotham ;
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    color: #393c41;

}

.section-6 p{
    margin-top: -20px;
    font-family: Gotham Book;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: #5c5e62;

}

.section-6 .btn-gp {
    display: flex;
    justify-content: center;
    padding-top: 60vh;
}

/* SECTION 7 */

.section-7{
    height: 110vh;
}

.section-7 h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 100px;
    font-family: Gotham ;
    font-weight: 500;
    text-align: center;
    font-size: 40px;
    color: #393c41;

}

.section-7 .accessories-img {
    display: flex;
    justify-content: center;
}

.section-7 .accessories-img img {
    height: 700px;
}


.section-7 .btn-gp {
    display: flex;
    justify-content: center;
    padding-top: 0vh;
}

.section-7 .btn-gp button {
    
    background-color: #1E2228;
    color: #fff;
}

